* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body,
#app .app {
  min-height: 100dvh;
  min-width: 100vw;
  background: var(--ground-background);
  color: var(--p-text-color);

  scrollbar-width: none;
  /* -ms-overflow-style: none;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;
  -ms-scroll-chaining: none; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media all and (display-mode: standalone) {
  #app,
  .app {
    min-height: 100lvh;
  }
}

/* @media screen and (max-width: 450px) {
  html {
    overscroll-behavior: none;
    -webkit-overflow-scrolling: none;
    -ms-scroll-chaining: none;
  }
} */

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#app::-webkit-scrollbar {
  display: none;
  width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--p-inputtext-border-color);
  -webkit-text-fill-color: var(--p-text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--p-inputtext-background) inset;
  transition: background-color 5000s ease-in-out 0s;
}
