:root {
  /* Base text colors */
  --text-primary-color: var(--p-primary-color);

  /* Surface colors */
  --surface-0: var(--p-surface-0);
  --surface-50: var(--p-surface-50);
  --surface-100: var(--p-surface-100);
  --surface-200: var(--p-surface-200);
  --surface-300: var(--p-surface-300);
  --surface-400: var(--p-surface-400);
  --surface-500: var(--p-surface-500);
  --surface-600: var(--p-surface-600);
  --surface-700: var(--p-surface-700);
  --surface-800: var(--p-surface-800);
  --surface-900: var(--p-surface-900);
  --surface-950: var(--p-surface-950);

  /* Primary color variants */
  --primary-50: var(--p-primary-50);
  --primary-100: var(--p-primary-100);
  --primary-200: var(--p-primary-200);
  --primary-300: var(--p-primary-300);
  --primary-400: var(--p-primary-400);
  --primary-500: var(--p-primary-500);
  --primary-600: var(--p-primary-600);
  --primary-700: var(--p-primary-700);
  --primary-800: var(--p-primary-800);
  --primary-900: var(--p-primary-900);
  --primary-950: var(--p-primary-950);

  /* Secondary color variants (using slate) */
  --secondary-50: var(--p-slate-50);
  --secondary-100: var(--p-slate-100);
  --secondary-200: var(--p-slate-200);
  --secondary-300: var(--p-slate-300);
  --secondary-400: var(--p-slate-400);
  --secondary-500: var(--p-slate-500);
  --secondary-600: var(--p-slate-600);
  --secondary-700: var(--p-slate-700);
  --secondary-800: var(--p-slate-800);
  --secondary-900: var(--p-slate-900);
  --secondary-950: var(--p-slate-950);

  /* Action colors */
  --success-color: var(--p-green-500);
  --info-color: var(--p-blue-500);
  --warning-color: var(--p-amber-500);
  --danger-color: var(--p-red-500);

  /* Action color variants */
  --success-light: var(--p-green-100);
  --info-light: var(--p-blue-100);
  --warning-light: var(--p-amber-100);
  --danger-light: var(--p-red-100);
  --success-dark: var(--p-green-700);
  --info-dark: var(--p-blue-700);
  --warning-dark: var(--p-amber-700);
  --danger-dark: var(--p-red-700);

  /* Border radius */
  --border-radius-none: var(--p-border-radius-none);
  --border-radius-xs: var(--p-border-radius-xs);
  --border-radius-sm: var(--p-border-radius-sm);
  --border-radius-md: var(--p-border-radius-md);
  --border-radius-lg: var(--p-border-radius-lg);
  --border-radius-xl: var(--p-border-radius-xl);
  --border-base-color: #232323;

  /* Transition */
  --transition-duration: var(--p-transition-duration);

  /* PrimeVue Overrides */
  --p-iconfield-icon-color: var(--p-form-field-icon-color);
  --p-inputtext-background: var(--p-form-field-background);
  --p-inputtext-disabled-background: var(--p-form-field-disabled-background);
  --p-inputtext-filled-background: var(--p-form-field-filled-background);
  --p-inputtext-filled-hover-background: var(--p-form-field-filled-hover-background);
  --p-inputtext-filled-focus-background: var(--p-form-field-filled-focus-background);
  --p-inputtext-border-color: var(--p-form-field-border-color);
  --p-inputtext-hover-border-color: var(--p-form-field-hover-border-color);
  --p-inputtext-focus-border-color: var(--p-form-field-focus-border-color);
  --p-inputtext-invalid-border-color: var(--p-form-field-invalid-border-color);
  --p-inputtext-color: var(--p-form-field-color);
  --p-inputtext-disabled-color: var(--p-form-field-disabled-color);
  --p-inputtext-placeholder-color: var(--p-form-field-placeholder-color);
  --p-inputtext-invalid-placeholder-color: var(--p-form-field-invalid-placeholder-color);
  --p-inputtext-shadow: var(--p-form-field-shadow);
  --p-inputtext-padding-x: var(--p-form-field-padding-x);
  --p-inputtext-padding-y: var(--p-form-field-padding-y);
  --p-inputtext-border-radius: var(--p-form-field-border-radius);
  --p-inputtext-transition-duration: var(--p-form-field-transition-duration);
  --p-inputtext-lg-font-size: var(--p-form-field-lg-font-size);
  --p-inputtext-lg-padding-x: var(--p-form-field-lg-padding-x);
  --p-inputtext-lg-padding-y: var(--p-form-field-lg-padding-y);
  --p-inputtext-sm-font-size: var(--p-form-field-sm-font-size);
  --p-inputtext-sm-padding-x: var(--p-form-field-sm-padding-x);
  --p-inputtext-sm-padding-y: var(--p-form-field-sm-padding-y);
  --p-inputtext-focus-ring-width: var(--p-form-field-focus-ring-width);
  --p-inputtext-focus-ring-style: var(--p-form-field-focus-ring-style);
  --p-inputtext-focus-ring-color: var(--p-form-field-focus-ring-color);
  --p-inputtext-focus-ring-offset: var(--p-form-field-focus-ring-offset);
  --p-inputtext-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);
  --p-slider-handle-background: var(--p-content-border-color);
  --p-slider-handle-hover-background: var(--p-content-border-color);
  --p-slider-handle-focus-ring-width: var(--p-focus-ring-width);
  --p-slider-handle-focus-ring-style: var(--p-focus-ring-style);
  --p-slider-handle-focus-ring-color: var(--p-focus-ring-color);
  --p-slider-handle-focus-ring-offset: var(--p-focus-ring-offset);
  --p-slider-handle-focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-slider-handle-content-hover-background: var(--p-content-background);
  --p-slider-range-background: var(--p-primary-color);
  --p-slider-track-background: var(--p-content-border-color);
  --p-slider-track-border-radius: var(--p-content-border-radius);
  --p-slider-transition-duration: var(--p-transition-duration);
  --p-slider-handle-content-background: var(--p-surface-0);
  --p-popover-content-padding: var(--p-overlay-popover-padding);
  --p-popover-background: var(--p-overlay-popover-background);
  --p-popover-border-color: var(--p-overlay-popover-border-color);
  --p-popover-color: var(--p-overlay-popover-color);
  --p-popover-border-radius: var(--p-overlay-popover-border-radius);
  --p-popover-shadow: var(--p-overlay-popover-shadow);
  --p-card-subtitle-color: var(--p-text-muted-color);
  --p-card-background: var(--p-content-background);
  --p-card-border-radius: var(--p-border-radius-xl);
  --p-card-color: var(--p-content-color);
  --p-select-empty-message-padding: var(--p-list-option-padding);
  --p-select-checkmark-color: var(--p-list-option-color);
  --p-select-checkmark-gutter-start: -0.375rem;
  --p-select-checkmark-gutter-end: 0.375rem;
  --p-select-clear-icon-color: var(--p-form-field-icon-color);
  --p-select-option-group-background: var(--p-list-option-group-background);
  --p-select-option-group-color: var(--p-list-option-group-color);
  --p-select-option-group-font-weight: var(--p-list-option-group-font-weight);
  --p-select-option-group-padding: var(--p-list-option-group-padding);
  --p-select-option-focus-background: var(--p-list-option-focus-background);
  --p-select-option-selected-background: var(--p-list-option-selected-background);
  --p-select-option-selected-focus-background: var(--p-list-option-selected-focus-background);
  --p-select-option-color: var(--p-list-option-color);
  --p-select-option-focus-color: var(--p-list-option-focus-color);
  --p-select-option-selected-color: var(--p-list-option-selected-color);
  --p-select-option-selected-focus-color: var(--p-list-option-selected-focus-color);
  --p-select-option-padding: var(--p-list-option-padding);
  --p-select-option-border-radius: var(--p-list-option-border-radius);
  --p-select-list-padding: var(--p-list-padding);
  --p-select-list-gap: var(--p-list-gap);
  --p-select-list-header-padding: var(--p-list-header-padding);
  --p-select-overlay-background: var(--p-overlay-select-background);
  --p-select-overlay-border-color: var(--p-overlay-select-border-color);
  --p-select-overlay-border-radius: var(--p-overlay-select-border-radius);
  --p-select-overlay-color: var(--p-overlay-select-color);
  --p-select-overlay-shadow: var(--p-overlay-select-shadow);
  --p-select-dropdown-width: 2.5rem;
  --p-select-dropdown-color: var(--p-form-field-icon-color);
  --p-select-background: var(--p-form-field-background);
  --p-select-disabled-background: var(--p-form-field-disabled-background);
  --p-select-filled-background: var(--p-form-field-filled-background);
  --p-select-filled-hover-background: var(--p-form-field-filled-hover-background);
  --p-select-filled-focus-background: var(--p-form-field-filled-focus-background);
  --p-select-border-color: var(--p-form-field-border-color);
  --p-select-hover-border-color: var(--p-form-field-hover-border-color);
  --p-select-focus-border-color: var(--p-form-field-focus-border-color);
  --p-select-invalid-border-color: var(--p-form-field-invalid-border-color);
  --p-select-color: var(--p-form-field-color);
  --p-select-disabled-color: var(--p-form-field-disabled-color);
  --p-select-placeholder-color: var(--p-form-field-placeholder-color);
  --p-select-invalid-placeholder-color: var(--p-form-field-invalid-placeholder-color);
  --p-select-shadow: var(--p-form-field-shadow);
  --p-select-padding-x: var(--p-form-field-padding-x);
  --p-select-padding-y: var(--p-form-field-padding-y);
  --p-select-border-radius: var(--p-form-field-border-radius);
  --p-select-transition-duration: var(--p-form-field-transition-duration);
  --p-select-lg-font-size: var(--p-form-field-lg-font-size);
  --p-select-lg-padding-x: var(--p-form-field-lg-padding-x);
  --p-select-lg-padding-y: var(--p-form-field-lg-padding-y);
  --p-select-sm-font-size: var(--p-form-field-sm-font-size);
  --p-select-sm-padding-x: var(--p-form-field-sm-padding-x);
  --p-select-sm-padding-y: var(--p-form-field-sm-padding-y);
  --p-select-focus-ring-width: var(--p-form-field-focus-ring-width);
  --p-select-focus-ring-style: var(--p-form-field-focus-ring-style);
  --p-select-focus-ring-color: var(--p-form-field-focus-ring-color);
  --p-select-focus-ring-offset: var(--p-form-field-focus-ring-offset);
  --p-select-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);
  --p-datatable-paginator-bottom-border-color: var(--p-datatable-border-color);
  --p-datatable-paginator-top-border-color: var(--p-datatable-border-color);
  --p-datatable-filter-constraint-focus-background: var(--p-list-option-focus-background);
  --p-datatable-filter-constraint-selected-background: var(--p-list-option-selected-background);
  --p-datatable-filter-constraint-selected-focus-background: var(--p-list-option-selected-focus-background);
  --p-datatable-filter-constraint-color: var(--p-list-option-color);
  --p-datatable-filter-constraint-focus-color: var(--p-list-option-focus-color);
  --p-datatable-filter-constraint-selected-color: var(--p-list-option-selected-color);
  --p-datatable-filter-constraint-selected-focus-color: var(--p-list-option-selected-focus-color);
  --p-datatable-filter-constraint-padding: var(--p-list-option-padding);
  --p-datatable-filter-constraint-border-radius: var(--p-list-option-border-radius);
  --p-datatable-filter-constraint-separator-border-color: var(--p-content-border-color);
  --p-datatable-filter-constraint-list-padding: var(--p-list-padding);
  --p-datatable-filter-constraint-list-gap: var(--p-list-gap);
  --p-datatable-filter-rule-border-color: var(--p-content-border-color);
  --p-datatable-filter-overlay-popover-background: var(--p-overlay-popover-background);
  --p-datatable-filter-overlay-popover-border-color: var(--p-overlay-popover-border-color);
  --p-datatable-filter-overlay-popover-border-radius: var(--p-overlay-popover-border-radius);
  --p-datatable-filter-overlay-popover-color: var(--p-overlay-popover-color);
  --p-datatable-filter-overlay-popover-shadow: var(--p-overlay-popover-shadow);
  --p-datatable-filter-overlay-popover-padding: var(--p-overlay-popover-padding);
  --p-datatable-filter-overlay-select-background: var(--p-overlay-select-background);
  --p-datatable-filter-overlay-select-border-color: var(--p-overlay-select-border-color);
  --p-datatable-filter-overlay-select-border-radius: var(--p-overlay-select-border-radius);
  --p-datatable-filter-overlay-select-color: var(--p-overlay-select-color);
  --p-datatable-filter-overlay-select-shadow: var(--p-overlay-select-shadow);
  --p-datatable-row-toggle-button-hover-background: var(--p-content-hover-background);
  --p-datatable-row-toggle-button-selected-hover-background: var(--p-content-background);
  --p-datatable-row-toggle-button-color: var(--p-text-muted-color);
  --p-datatable-row-toggle-button-hover-color: var(--p-text-color);
  --p-datatable-row-toggle-button-selected-hover-color: var(--p-primary-color);
  --p-datatable-row-toggle-button-focus-ring-width: var(--p-focus-ring-width);
  --p-datatable-row-toggle-button-focus-ring-style: var(--p-focus-ring-style);
  --p-datatable-row-toggle-button-focus-ring-color: var(--p-focus-ring-color);
  --p-datatable-row-toggle-button-focus-ring-offset: var(--p-focus-ring-offset);
  --p-datatable-row-toggle-button-focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-datatable-sort-icon-color: var(--p-text-muted-color);
  --p-datatable-sort-icon-hover-color: var(--p-text-hover-muted-color);
  --p-datatable-resize-indicator-color: var(--p-primary-color);
  --p-datatable-drop-point-color: var(--p-primary-color);
  --p-datatable-footer-background: var(--p-content-background);
  --p-datatable-footer-border-color: var(--p-datatable-border-color);
  --p-datatable-footer-color: var(--p-content-color);
  --p-datatable-footer-cell-background: var(--p-content-background);
  --p-datatable-footer-cell-border-color: var(--p-datatable-border-color);
  --p-datatable-footer-cell-color: var(--p-content-color);
  --p-datatable-body-cell-border-color: var(--p-datatable-border-color);
  --p-datatable-row-background: var(--p-content-background);
  --p-datatable-row-hover-background: var(--p-content-hover-background);
  --p-datatable-row-selected-background: var(--p-highlight-background);
  --p-datatable-row-color: var(--p-content-color);
  --p-datatable-row-hover-color: var(--p-content-hover-color);
  --p-datatable-row-selected-color: var(--p-highlight-color);
  --p-datatable-row-focus-ring-width: var(--p-focus-ring-width);
  --p-datatable-row-focus-ring-style: var(--p-focus-ring-style);
  --p-datatable-row-focus-ring-color: var(--p-focus-ring-color);
  --p-datatable-row-focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-datatable-header-cell-background: var(--p-content-background);
  --p-datatable-header-cell-hover-background: var(--p-content-hover-background);
  --p-datatable-header-cell-selected-background: var(--p-highlight-background);
  --p-datatable-header-cell-border-color: var(--p-datatable-border-color);
  --p-datatable-header-cell-color: var(--p-content-color);
  --p-datatable-header-cell-hover-color: var(--p-content-hover-color);
  --p-datatable-header-cell-selected-color: var(--p-highlight-color);
  --p-datatable-header-cell-focus-ring-width: var(--p-focus-ring-width);
  --p-datatable-header-cell-focus-ring-style: var(--p-focus-ring-style);
  --p-datatable-header-cell-focus-ring-color: var(--p-focus-ring-color);
  --p-datatable-header-cell-focus-ring-offset: -1px;
  --p-datatable-header-cell-focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-datatable-header-background: var(--p-content-background);
  --p-datatable-header-border-color: var(--p-datatable-border-color);
  --p-datatable-header-color: var(--p-content-color);
  --p-datatable-transition-duration: var(--p-transition-duration);
  --p-datatable-body-cell-selected-border-color: var(--p-primary-100);
  --p-datatable-row-striped-background: var(--p-surface-50);
  --p-datatable-border-color: var(--p-content-border-color);
}

/* light */
[data-mode='light'],
.ligh-mode {
  /* Layout backgrounds */
  --divider-color: var(--p-surface-200);
  --border-color: var(--p-surface-200);
  --border-color-inner: var(--p-surface-300);
  --bottombar-background: var(--p-surface-0);
  --camera-toolbar-background: var(--p-surface-0);
  --content-background: var(--p-surface-50);
  --ground-background: var(--p-surface-50);
  --ground-background-val: 248, 250, 252;
  --navbar-background: #0d0d0d;
  --navbar-border-color: #131313;
  --subnavbar-background: #f9fafc;
  --subnavbar-item-background: #f9fafc;
  --subnavbar-item-hover-background: #f9fcff;
  --subnavbar-item-active-background: #ffffff;
  --topnavbar-background: #f8f8f8;
  --topnavbar-border-color: #e5e7eb;
  --topbar-background: var(--p-surface-0);
  --sidebar-background: var(--p-surface-50);
  --card-background: var(--p-surface-0);
  --card-inner-background: var(--p-surface-50);
  --expanded-row-background: #f7f8fa;
  --drawer-background: var(--p-surface-0);
  --tooltip-background: var(--p-surface-800);
  --sidebar-view-background: #1a1a1a;
  --toggle-switch-background: #f3f7fc;
  --editor-background: #fff;
  --subnavbar-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 100%);
  --mask-background: rgba(0, 0, 0, 0.1);

  /* Progress track */
  --progress-track-background: var(--p-surface-200);

  /* Chip backgrounds */
  --chip-background: var(--p-surface-100);
  --chip-background-active: var(--p-surface-300);
  --chip-background-hover: var(--p-surface-200);

  /* Text colors */
  --text-color: var(--p-surface-700);
  --text-color-faded: var(--p-surface-500);
  --text-muted-color: var(--p-surface-500);
  --text-passive-color: var(--p-surface-400);
  --text-inverted-color: var(--p-surface-0);
  --text-primary-color: var(--p-primary-500);
  --text-primary-hover-color: var(--p-primary-700);
  --text-secondary-color: var(--p-surface-500);
  --text-secondary-hover-color: var(--p-surface-700);
  --text-success-color: var(--p-green-600);
  --text-info-color: var(--p-blue-600);
  --text-warning-color: var(--p-amber-600);
  --text-danger-color: var(--p-red-600);

  /* Button backgrounds */
  --button-primary-background: var(--p-primary-500);
  --button-primary-hover-background: var(--p-primary-600);
  --button-primary-active-background: var(--p-primary-700);

  --button-secondary-background: transparent;
  --button-secondary-hover-background: var(--p-slate-100);
  --button-secondary-active-background: var(--p-slate-200);

  --button-contrast-background: transparent;
  --button-contrast-hover-background: var(--p-slate-100);
  --button-contrast-active-background: var(--p-slate-200);

  /* Table background */
  --table-row-odd-background: var(--p-surface-50);

  /* Shadow */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);

  /* PrimeVue overrides */
  --p-button-danger-background: var(--p-red-600);
  --p-button-danger-border-color: var(--p-red-600);
  --p-button-danger-hover-background: var(--p-red-700);
  --p-button-danger-hover-border-color: var(--p-red-700);
  --p-button-danger-active-background: var(--p-red-800);
  --p-button-danger-active-border-color: var(--p-red-800);

  --p-button-success-background: var(--p-green-600);
  --p-button-success-border-color: var(--p-green-600);
  --p-button-success-hover-background: var(--p-green-700);
  --p-button-success-hover-border-color: var(--p-green-700);
  --p-button-success-active-background: var(--p-green-800);
  --p-button-success-active-border-color: var(--p-green-800);

  /* Timeline */
  --timeline-overlay-rgb: 255, 255, 255;
  --timeline-scale-background: var(--p-surface-400);
  --timeline-track-background: #f8f8f8;
  --timeline-recording-bar: #fce1e5;
  --timeline-event-bar: #df2a4c;
  --timeline-event-line: #dcdcdc;
  --timeline-event-icon: #dcdcdc;
  --timeline-event-thumb-border: var(--p-surface-200);
  --timeline-event-thumb-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  /* Timeline System Events */
  --timeline-sys-info-bg: rgba(59, 130, 246, 0.1);
  --timeline-sys-info-border: rgb(59, 130, 246);
  --timeline-sys-success-bg: rgba(34, 197, 94, 0.1);
  --timeline-sys-success-border: rgb(34, 197, 94);
  --timeline-sys-warning-bg: rgba(245, 158, 11, 0.1);
  --timeline-sys-warning-border: rgb(245, 158, 11);
  --timeline-sys-error-bg: rgba(239, 68, 68, 0.1);
  --timeline-sys-error-border: rgb(239, 68, 68);

  /* TopNavbar Item */
  --cui-topnavbar-item-bg: transparent;
  --cui-topnavbar-item-color: #64748b;
  --cui-topnavbar-item-hover-bg: #eff2f6;
  --cui-topnavbar-item-active-bg: #e2e8f0;
  --cui-topnavbar-item-active-color: #334155;
}

/* dark */
[data-mode='dark'],
.dark-mode {
  /* Layout backgrounds */
  --divider-color: #282828;
  --border-color: var(--p-surface-800);
  --border-color-inner: var(--p-surface-700);
  --bottombar-background: var(--p-surface-900);
  --camera-toolbar-background: var(--p-surface-900);
  --content-background: var(--p-surface-925);
  --ground-background: var(--p-surface-1000);
  --ground-background-val: 13, 13, 13;
  --navbar-background: #0d0d0d;
  --navbar-border-color: #131313;
  --subnavbar-background: #0d0d0d;
  --subnavbar-item-background: #0d0d0d;
  --subnavbar-item-hover-background: #161616;
  --subnavbar-item-active-background: #1d1d1d;
  --subnavbar-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.03) 100%);
  --topnavbar-background: #131313;
  --topnavbar-border-color: #232323;
  --topbar-background: var(--p-surface-900);
  --sidebar-background: var(--p-surface-950);
  --card-background: var(--p-surface-900);
  --card-inner-background: var(--p-surface-925);
  --expanded-row-background: #131313;
  --drawer-background: var(--p-surface-900);
  --tooltip-background: var(--p-surface-800);
  --sidebar-view-background: #1a1a1a;
  --toggle-switch-background: #1f1f1f;
  --editor-background: #121212;
  --mask-background: rgba(0, 0, 0, 0.5);

  /* Progress track */
  --progress-track-background: var(--p-surface-800);

  /* Chip backgrounds */
  --chip-background: var(--p-surface-700);
  --chip-background-active: var(--p-surface-500);
  --chip-background-hover: var(--p-surface-600);

  /* Text colors */
  --text-color: var(--p-surface-0);
  --text-color-faded: var(--p-surface-200);
  --text-muted-color: var(--p-surface-400);
  --text-passive-color: var(--p-surface-500);
  --text-inverted-color: var(--p-surface-900);
  --text-primary-color: var(--p-primary-500);
  --text-primary-hover-color: var(--p-primary-300);
  --text-secondary-color: var(--p-surface-300);
  --text-secondary-hover-color: var(--p-surface-100);
  --text-success-color: var(--p-green-400);
  --text-info-color: var(--p-blue-400);
  --text-warning-color: var(--p-amber-400);
  --text-danger-color: var(--p-red-400);

  /* Button backgrounds */
  --button-primary-background: var(--p-primary-500);
  --button-primary-hover-background: var(--p-primary-600);
  --button-primary-active-background: var(--p-primary-700);

  --button-secondary-background: transparent;
  --button-secondary-hover-background: var(--p-surface-900);
  --button-secondary-active-background: var(--p-surface-850);

  --button-contrast-background: transparent;
  --button-contrast-hover-background: var(--p-surface-800);
  --button-contrast-active-background: var(--p-surface-700);

  /* Table background */
  --table-row-odd-background: var(--p-surface-850);

  /* Shadow - adjusted for dark mode */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -2px rgba(0, 0, 0, 0.3);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -4px rgba(0, 0, 0, 0.3);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.3), 0 8px 10px -6px rgba(0, 0, 0, 0.3);

  /* PrimeVue overrides */
  --p-button-danger-background: var(--p-red-500);
  --p-button-danger-border-color: var(--p-red-500);
  --p-button-danger-hover-background: var(--p-red-400);
  --p-button-danger-hover-border-color: var(--p-red-400);
  --p-button-danger-active-background: var(--p-red-300);
  --p-button-danger-active-border-color: var(--p-red-300);

  --p-button-success-background: var(--p-green-500);
  --p-button-success-border-color: var(--p-green-500);
  --p-button-success-hover-background: var(--p-green-400);
  --p-button-success-hover-border-color: var(--p-green-400);
  --p-button-success-active-background: var(--p-green-300);
  --p-button-success-active-border-color: var(--p-green-300);

  /* Timeline */
  --timeline-overlay-rgb: 20, 20, 20;
  --timeline-scale-background: var(--p-surface-500);
  --timeline-track-background: #161616;
  --timeline-recording-bar: #342326;
  --timeline-event-bar: #df2a4c;
  --timeline-event-line: #444444;
  --timeline-event-icon: #444444;
  --timeline-event-thumb-border: var(--p-surface-700);
  --timeline-event-thumb-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);

  /* Timeline System Events */
  --timeline-sys-info-bg: rgba(59, 130, 246, 0.1);
  --timeline-sys-info-border: rgb(59, 130, 246);
  --timeline-sys-success-bg: rgba(34, 197, 94, 0.1);
  --timeline-sys-success-border: rgb(34, 197, 94);
  --timeline-sys-warning-bg: rgba(245, 158, 11, 0.1);
  --timeline-sys-warning-border: rgb(245, 158, 11);
  --timeline-sys-error-bg: rgba(239, 68, 68, 0.1);
  --timeline-sys-error-border: rgb(239, 68, 68);

  /* TopNavbar Item */
  --cui-topnavbar-item-bg: transparent;
  --cui-topnavbar-item-color: #595959;
  --cui-topnavbar-item-hover-bg: rgba(255, 255, 255, 0.05);
  --cui-topnavbar-item-active-bg: rgba(255, 255, 255, 0.1);
  --cui-topnavbar-item-active-color: #fff;

  --p-iconfield-icon-color: var(--p-form-field-icon-color);
  --p-inputtext-background: var(--p-form-field-background);
  --p-inputtext-disabled-background: var(--p-form-field-disabled-background);
  --p-inputtext-filled-background: var(--p-form-field-filled-background);
  --p-inputtext-filled-hover-background: var(--p-form-field-filled-hover-background);
  --p-inputtext-filled-focus-background: var(--p-form-field-filled-focus-background);
  --p-inputtext-border-color: var(--p-form-field-border-color);
  --p-inputtext-hover-border-color: var(--p-form-field-hover-border-color);
  --p-inputtext-focus-border-color: var(--p-form-field-focus-border-color);
  --p-inputtext-invalid-border-color: var(--p-form-field-invalid-border-color);
  --p-inputtext-color: var(--p-form-field-color);
  --p-inputtext-disabled-color: var(--p-form-field-disabled-color);
  --p-inputtext-placeholder-color: var(--p-form-field-placeholder-color);
  --p-inputtext-invalid-placeholder-color: var(--p-form-field-invalid-placeholder-color);
  --p-inputtext-shadow: var(--p-form-field-shadow);
  --p-inputtext-padding-x: var(--p-form-field-padding-x);
  --p-inputtext-padding-y: var(--p-form-field-padding-y);
  --p-inputtext-border-radius: var(--p-form-field-border-radius);
  --p-inputtext-transition-duration: var(--p-form-field-transition-duration);
  --p-inputtext-lg-font-size: var(--p-form-field-lg-font-size);
  --p-inputtext-lg-padding-x: var(--p-form-field-lg-padding-x);
  --p-inputtext-lg-padding-y: var(--p-form-field-lg-padding-y);
  --p-inputtext-sm-font-size: var(--p-form-field-sm-font-size);
  --p-inputtext-sm-padding-x: var(--p-form-field-sm-padding-x);
  --p-inputtext-sm-padding-y: var(--p-form-field-sm-padding-y);
  --p-inputtext-focus-ring-width: var(--p-form-field-focus-ring-width);
  --p-inputtext-focus-ring-style: var(--p-form-field-focus-ring-style);
  --p-inputtext-focus-ring-color: var(--p-form-field-focus-ring-color);
  --p-inputtext-focus-ring-offset: var(--p-form-field-focus-ring-offset);
  --p-inputtext-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);
  --p-slider-handle-background: var(--p-content-border-color);
  --p-slider-handle-hover-background: var(--p-content-border-color);
  --p-slider-handle-focus-ring-width: var(--p-focus-ring-width);
  --p-slider-handle-focus-ring-style: var(--p-focus-ring-style);
  --p-slider-handle-focus-ring-color: var(--p-focus-ring-color);
  --p-slider-handle-focus-ring-offset: var(--p-focus-ring-offset);
  --p-slider-handle-focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-slider-handle-content-hover-background: var(--p-content-background);
  --p-slider-range-background: var(--p-primary-color);
  --p-slider-track-background: var(--p-content-border-color);
  --p-slider-track-border-radius: var(--p-content-border-radius);
  --p-slider-transition-duration: var(--p-transition-duration);
  --p-slider-handle-content-background: var(--p-surface-0);
  --p-popover-content-padding: var(--p-overlay-popover-padding);
  --p-popover-background: var(--p-overlay-popover-background);
  --p-popover-border-color: var(--p-overlay-popover-border-color);
  --p-popover-color: var(--p-overlay-popover-color);
  --p-popover-border-radius: var(--p-overlay-popover-border-radius);
  --p-popover-shadow: var(--p-overlay-popover-shadow);
  --p-card-subtitle-color: var(--p-text-muted-color);
  --p-card-background: var(--p-content-background);
  --p-card-border-radius: var(--p-border-radius-xl);
  --p-card-color: var(--p-content-color);
  --p-select-empty-message-padding: var(--p-list-option-padding);
  --p-select-checkmark-color: var(--p-list-option-color);
  --p-select-checkmark-gutter-start: -0.375rem;
  --p-select-checkmark-gutter-end: 0.375rem;
  --p-select-clear-icon-color: var(--p-form-field-icon-color);
  --p-select-option-group-background: var(--p-list-option-group-background);
  --p-select-option-group-color: var(--p-list-option-group-color);
  --p-select-option-group-font-weight: var(--p-list-option-group-font-weight);
  --p-select-option-group-padding: var(--p-list-option-group-padding);
  --p-select-option-focus-background: var(--p-list-option-focus-background);
  --p-select-option-selected-background: var(--p-list-option-selected-background);
  --p-select-option-selected-focus-background: var(--p-list-option-selected-focus-background);
  --p-select-option-color: var(--p-list-option-color);
  --p-select-option-focus-color: var(--p-list-option-focus-color);
  --p-select-option-selected-color: var(--p-list-option-selected-color);
  --p-select-option-selected-focus-color: var(--p-list-option-selected-focus-color);
  --p-select-option-padding: var(--p-list-option-padding);
  --p-select-option-border-radius: var(--p-list-option-border-radius);
  --p-select-list-padding: var(--p-list-padding);
  --p-select-list-gap: var(--p-list-gap);
  --p-select-list-header-padding: var(--p-list-header-padding);
  --p-select-overlay-background: var(--p-overlay-select-background);
  --p-select-overlay-border-color: var(--p-overlay-select-border-color);
  --p-select-overlay-border-radius: var(--p-overlay-select-border-radius);
  --p-select-overlay-color: var(--p-overlay-select-color);
  --p-select-overlay-shadow: var(--p-overlay-select-shadow);
  --p-select-dropdown-width: 2.5rem;
  --p-select-dropdown-color: var(--p-form-field-icon-color);
  --p-select-background: var(--p-form-field-background);
  --p-select-disabled-background: var(--p-form-field-disabled-background);
  --p-select-filled-background: var(--p-form-field-filled-background);
  --p-select-filled-hover-background: var(--p-form-field-filled-hover-background);
  --p-select-filled-focus-background: var(--p-form-field-filled-focus-background);
  --p-select-border-color: var(--p-form-field-border-color);
  --p-select-hover-border-color: var(--p-form-field-hover-border-color);
  --p-select-focus-border-color: var(--p-form-field-focus-border-color);
  --p-select-invalid-border-color: var(--p-form-field-invalid-border-color);
  --p-select-color: var(--p-form-field-color);
  --p-select-disabled-color: var(--p-form-field-disabled-color);
  --p-select-placeholder-color: var(--p-form-field-placeholder-color);
  --p-select-invalid-placeholder-color: var(--p-form-field-invalid-placeholder-color);
  --p-select-shadow: var(--p-form-field-shadow);
  --p-select-padding-x: var(--p-form-field-padding-x);
  --p-select-padding-y: var(--p-form-field-padding-y);
  --p-select-border-radius: var(--p-form-field-border-radius);
  --p-select-transition-duration: var(--p-form-field-transition-duration);
  --p-select-lg-font-size: var(--p-form-field-lg-font-size);
  --p-select-lg-padding-x: var(--p-form-field-lg-padding-x);
  --p-select-lg-padding-y: var(--p-form-field-lg-padding-y);
  --p-select-sm-font-size: var(--p-form-field-sm-font-size);
  --p-select-sm-padding-x: var(--p-form-field-sm-padding-x);
  --p-select-sm-padding-y: var(--p-form-field-sm-padding-y);
  --p-select-focus-ring-width: var(--p-form-field-focus-ring-width);
  --p-select-focus-ring-style: var(--p-form-field-focus-ring-style);
  --p-select-focus-ring-color: var(--p-form-field-focus-ring-color);
  --p-select-focus-ring-offset: var(--p-form-field-focus-ring-offset);
  --p-select-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);
  --p-datatable-paginator-bottom-border-color: var(--p-datatable-border-color);
  --p-datatable-paginator-top-border-color: var(--p-datatable-border-color);
  --p-datatable-filter-constraint-focus-background: var(--p-list-option-focus-background);
  --p-datatable-filter-constraint-selected-background: var(--p-list-option-selected-background);
  --p-datatable-filter-constraint-selected-focus-background: var(--p-list-option-selected-focus-background);
  --p-datatable-filter-constraint-color: var(--p-list-option-color);
  --p-datatable-filter-constraint-focus-color: var(--p-list-option-focus-color);
  --p-datatable-filter-constraint-selected-color: var(--p-list-option-selected-color);
  --p-datatable-filter-constraint-selected-focus-color: var(--p-list-option-selected-focus-color);
  --p-datatable-filter-constraint-padding: var(--p-list-option-padding);
  --p-datatable-filter-constraint-border-radius: var(--p-list-option-border-radius);
  --p-datatable-filter-constraint-separator-border-color: var(--p-content-border-color);
  --p-datatable-filter-constraint-list-padding: var(--p-list-padding);
  --p-datatable-filter-constraint-list-gap: var(--p-list-gap);
  --p-datatable-filter-rule-border-color: var(--p-content-border-color);
  --p-datatable-filter-overlay-popover-background: var(--p-overlay-popover-background);
  --p-datatable-filter-overlay-popover-border-color: var(--p-overlay-popover-border-color);
  --p-datatable-filter-overlay-popover-border-radius: var(--p-overlay-popover-border-radius);
  --p-datatable-filter-overlay-popover-color: var(--p-overlay-popover-color);
  --p-datatable-filter-overlay-popover-shadow: var(--p-overlay-popover-shadow);
  --p-datatable-filter-overlay-popover-padding: var(--p-overlay-popover-padding);
  --p-datatable-filter-overlay-select-background: var(--p-overlay-select-background);
  --p-datatable-filter-overlay-select-border-color: var(--p-overlay-select-border-color);
  --p-datatable-filter-overlay-select-border-radius: var(--p-overlay-select-border-radius);
  --p-datatable-filter-overlay-select-color: var(--p-overlay-select-color);
  --p-datatable-filter-overlay-select-shadow: var(--p-overlay-select-shadow);
  --p-datatable-row-toggle-button-hover-background: var(--p-content-hover-background);
  --p-datatable-row-toggle-button-selected-hover-background: var(--p-content-background);
  --p-datatable-row-toggle-button-color: var(--p-text-muted-color);
  --p-datatable-row-toggle-button-hover-color: var(--p-text-color);
  --p-datatable-row-toggle-button-selected-hover-color: var(--p-primary-color);
  --p-datatable-row-toggle-button-focus-ring-width: var(--p-focus-ring-width);
  --p-datatable-row-toggle-button-focus-ring-style: var(--p-focus-ring-style);
  --p-datatable-row-toggle-button-focus-ring-color: var(--p-focus-ring-color);
  --p-datatable-row-toggle-button-focus-ring-offset: var(--p-focus-ring-offset);
  --p-datatable-row-toggle-button-focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-datatable-sort-icon-color: var(--p-text-muted-color);
  --p-datatable-sort-icon-hover-color: var(--p-text-hover-muted-color);
  --p-datatable-resize-indicator-color: var(--p-primary-color);
  --p-datatable-drop-point-color: var(--p-primary-color);
  --p-datatable-footer-background: var(--p-content-background);
  --p-datatable-footer-border-color: var(--p-datatable-border-color);
  --p-datatable-footer-color: var(--p-content-color);
  --p-datatable-footer-cell-background: var(--p-content-background);
  --p-datatable-footer-cell-border-color: var(--p-datatable-border-color);
  --p-datatable-footer-cell-color: var(--p-content-color);
  --p-datatable-body-cell-border-color: var(--p-datatable-border-color);
  --p-datatable-row-background: var(--p-content-background);
  --p-datatable-row-hover-background: var(--p-content-hover-background);
  --p-datatable-row-selected-background: var(--p-highlight-background);
  --p-datatable-row-color: var(--p-content-color);
  --p-datatable-row-hover-color: var(--p-content-hover-color);
  --p-datatable-row-selected-color: var(--p-highlight-color);
  --p-datatable-row-focus-ring-width: var(--p-focus-ring-width);
  --p-datatable-row-focus-ring-style: var(--p-focus-ring-style);
  --p-datatable-row-focus-ring-color: var(--p-focus-ring-color);
  --p-datatable-row-focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-datatable-header-cell-background: var(--p-content-background);
  --p-datatable-header-cell-hover-background: var(--p-content-hover-background);
  --p-datatable-header-cell-selected-background: var(--p-highlight-background);
  --p-datatable-header-cell-border-color: var(--p-datatable-border-color);
  --p-datatable-header-cell-color: var(--p-content-color);
  --p-datatable-header-cell-hover-color: var(--p-content-hover-color);
  --p-datatable-header-cell-selected-color: var(--p-highlight-color);
  --p-datatable-header-cell-focus-ring-width: var(--p-focus-ring-width);
  --p-datatable-header-cell-focus-ring-style: var(--p-focus-ring-style);
  --p-datatable-header-cell-focus-ring-color: var(--p-focus-ring-color);
  --p-datatable-header-cell-focus-ring-offset: -1px;
  --p-datatable-header-cell-focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-datatable-header-background: var(--p-content-background);
  --p-datatable-header-border-color: var(--p-datatable-border-color);
  --p-datatable-header-color: var(--p-content-color);
  --p-datatable-transition-duration: var(--p-transition-duration);
  --p-datatable-body-cell-selected-border-color: var(--p-primary-100);
  --p-datatable-row-striped-background: var(--p-surface-50);
  --p-datatable-border-color: var(--p-content-border-color);
}
