.editorconfig
.eslintignore
.eslintrc.js
eslint.config.js
.eslintrc.cjs
.gitignore
.npmignore
.prettierignore
.prettierrc.json
tsconfig.json
updates.config.js
nodemon.json
eslint.config.js
CLAUDE.md

node_modules
.github
.vscode

/src
