.editorconfig
.eslintignore
.eslintrc.js
eslint.config.js
.eslintrc.cjs
.gitignore
.npmignore
.prettierignore
.prettierrc.json
tsconfig.json
updates.config.js
nodemon.json
eslint.config.js
artillery.yaml
cupdate.config.txt
CLAUDE.md

node_modules
.github
.vscode
.mypy_cache
.ruff_cache

localdeps.txt
mypy.ini
ruff.toml
__pycache__

/bin
/src
/requirements.txt
node_modules
tests
/types